$--color-primary: #00b38a !default; // 主题色

$--color-text-primary: #434343 !default; // 文字主色
$--color-text-regular: #595959 !default; // 文字常规色
$--color-text-secondary: #8c8c8c !default; // 文字次色
$--color-text-placeholder: #bfbfbf !default; // 占位色

$--border-color-base: #f0f0f0 !default; // 边框基准色
$--border-color-light: $--border-color-base !default; // 浅一级边框色
$--border-color-lighter: $--border-color-light !default;
$--border-color-extra-light: $--border-color-lighter !default;

$--icon-color: #d9d9d9 !default; // 图标默认色
$--color-white: #fff !default; // 浅色，切换深色主题时必须修改
$--color-black: #000 !default; // 深色，切换深色主题时必须修改
$--background-color-base: #f5f5f5 !default; // 背景基准色，会调和出其他组件的基准色

$--datepicker-inner-border-color: $--border-color-base;

@import "~element-ui/packages/theme-chalk/src/common/var";
