@import "variables-custom";
@import "../default/common";

.el-date-editor .el-range-input {
  color: $--input-font-color;
  background-color: $--color-white;

  &::placeholder {
    color: $--input-placeholder-color;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: $--background-color-base;
}

.page-container .page-main .page-main-left {
  z-index: 0 !important;
}
