<div id="{{ $data.node2.id }}">
    {{set user_like_comment_ids = $data.user_like_comment_ids}}
    <div class="reply_text_con fl">
        <div class="user_name2">{{ $data.node2.commenter.nick_name }} @ {{ $data.node2.parent.user.nick_name }}</div>
        <div class="reply_text">
            {{ $data.node2.content }}
        </div>
    </div>
    <div class="comment_time fl">{{ $data.node2.create_time | dateFormat }}</div>
    <a href="javascript:;"  class="{{ $data.user_like_comment_ids.indexOf($data.node2.id)>=0?'has_comment_up':''}}  comment_up  fr"  data-likecount="{{ $data.node2.like_count?$data.node2.like_count:0 }}" data-commentid="{{ $data.node2.id }}">{{ $data.node2.like_count?$data.node2.like_count:'赞' }}</a>
    <a href="javascript:;" class="comment_reply fr">回复</a>
    <from class="reply_form fl" data-commentid="{{ $data.node2.id }}" data-newsid="{{ $data.node2.news_id }}">
        <textarea class="reply_input"></textarea>
        <input type="submit" name="" value="回复" class="reply_sub fr">
        <input type="reset" name="" value="取消" class="reply_cancel fr">
    </from>
    {{if $data.node2.children && $data.node2.children.length>0}}
    {{each $data.node2.children as node2}}
    <% include('./list1.html', {node2, user_like_comment_ids}) %>
    {{/each}}
    {{/if}}
</div>
