@import "variables-custom";
@import "themes/default/common";
//@import "themes/dark/common";

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-table--scrollable-y .el-table__body-wrapper {
  @include scroll($size: 17px)
}

.body-main-center > .el-table.el-table--fit {
  //border: 0;
  //&:before {
  //  display: none;
  //}

  margin: $gap;
  width: calc(100% - #{$gap} * 2);

  & > .el-table__fixed-right:before {
    display: none;
  }
}
