@import "variables-custom";

* {
  /* stylelint-disable-next-line max-line-length */
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-table--scrollable-y .el-table__body-wrapper { /* stylelint-disable-line selector-class-pattern */
  @include scroll($size: 17px);
}

.body-main-center > .el-table.el-table--fit { /* stylelint-disable-line selector-class-pattern */
  width: calc(100% - #{$gap} * 2);

  // border: 0;
  // &:before {
  //   display: none;
  // }

  margin: $gap;

  & > .el-table__fixed-right::before { /* stylelint-disable-line selector-class-pattern */
    display: none;
  }
}
